<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VeritabanıProjesi.Properties.Settings.Veritabanı_SisConnectionString"
            connectionString="Data Source=LAPTOP-CS90DTMS\MSSQL;Initial Catalog=&quot;Veritabanı Sis&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VeritabanıProjesi.Properties.Settings.OtelOtomasyonuConnectionString"
            connectionString="Data Source=LAPTOP-CS90DTMS\MSSQL;Initial Catalog=OtelOtomasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>